
html{
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  height: 100%;
}

.hide{
  display: none;
}

.inline_show{
  display: inline;
}

.inline_block_show{
  display: inline-block;
}

.block_show{
  display: block;
}

.el-dialog__body{
  padding: 10px 20px;
}

.h5{
  height: 5px;
}

.h10{
  height: 10px;
}

.h20{
  height: 20px;
}

.h30{
  height: 30px;
}

.h40{
  height: 40px;
}

.h50{
  height: 50px;
}

.h100{
  height: 100px;
}

.blue{
  color: blue;
}

.green{
  color: green;
}

.red6c{
  color: #F56C6C;
}

.brown{
  color: brown;
}

.red{
  color: red;
}
